{% extends "base.html" %} {% block content %}


<div class="div container">
  <div class="row card-panel no-border">
    <form action="{{ url_for('search_challenges') }} " method="post" class="form">
      <div class="row valign-wrapper center-align">
        <div class="input-field col s12 m8">
          <i class="fas fa-search prefix grey-text"></i>
          <input
            type="text"
            class="black-text"
            name="query"
            minlength="3"
            id="query"
            class="validate"
            required
          />
          <label class="display-none" for="query">Search Challenges</label>
        </div>
        <div class="col s12 m8">
          <a
            href=" {{ url_for('get_challenges') }} "
            class="col grey btn-small reset hvr-border-fade"
            >Reset</a
          >
          <button
            type="submit"
            class="col grey darken-1 btn-small search hvr-border-fade"
          >
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<h3 class="orange-text text-darken-4 center-align">All Challenges</h3>
{% for challenge in challenges %}
<div class="container">
  <div class="row">
    <div class="card white">
      <div class="white">
        {% if challenge.activated == False %}
        <a
          class="card-icon fas fa-pencil-alt prefix grey-text"
          href="{{ url_for('edit_challenge', challenge_id=challenge._id) }}"
        ></a>
        <a
          class="card-icon fas fa-trash-alt prefix grey-text text-accent-4"
          href="{{ url_for('delete_challenge', challenge_id=challenge._id) }}"
        ></a>
        {% endif %}
      </div>
      <div class="card-content black-text accent-4">
        <span class="card-title"
          ><strong>{{ challenge.challenge_title }}</strong></span
        >
        <p>{{ challenge.challenge_description }}</p>
      </div>

      <div class="card-action grey lighten-5">
        <i class="timetocomplete-icon small material-icons blue-grey-text"
          >access_time</i
        >
        <label for="timetocomplete-icon" class="orange-text line-height"
          >{{ challenge.time }} min</label
        >
        <i class="timetocomplete-icon small material-icons blue-grey-text"
          >check</i
        >
        <label for="timetocomplete-icon" class="orange-text line-height"
          >{{ challenge.completions }}
        </label>
        {% if challenge.activated == False %}
        <a
          class="btn activate hvr-bob fas fa-flag-checkered prefix white-text tooltipped"
          data-position="top"
          data-tooltip="Activate challenge"
          href="{{ url_for('activated_challenge', challenge_id=challenge._id) }}"
        ></a>
        {% else %}
        <a
          class="btn complete hvr-bob red fas fa-stop-circle prefix white-text tooltipped"
          data-position="top"
          data-tooltip="Complete challenge"
          href="{{ url_for('deactivated_challenge', challenge_id=challenge._id) }}"
        ></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock %}
