{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Challenge</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('edit_challenge', challenge_id=challenge._id) }}">
    <!-- challenge title-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
        <input
          id="challenge_title"
          name="challenge_title"
          minlength="5"
          maxlength="50"
          value="{{ challenge.challenge_title }}"
          type="text"
          class="validate"
          required
        />
        <label for="challenge_title">Challenge Title</label>
      </div>
    </div>
    <!-- challenge description-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
        <textarea
          id="challenge_description"
          name="challenge_description"
          minlength="5"
          maxlength="200"
          class="materialize-textarea"
          required
        >{{- challenge.challenge_description -}}</textarea>
        <label for="challenge_description">Challenge Descripition</label>
      </div>
    </div>
    <!-- challenge time-->
    <div class="row">
      <div class="col s12">
        <i class="far fa-clock-left prefix light-blue-text text-darken-4"></i>
        <h4>Time to complete</h4>
        <p>
          <label for="1">
            <input type="radio" id="1" name="time" value="1" />
            <span>1 minute</span>
          </label>
        </p>
        <p>
          <label for="2">
            <input type="radio" id="2" name="time" value="5" />
            <span>5 minutes</span>
          </label>
        </p>
        <p>
          <label for="3">
            <input type="radio" id="3" name="time" value="10" />
            <span>10 minutes</span>
          </label>
        </p>
        <p>
          <label for="4">
            <input type="radio" id="4" name="time" value="more than 10" />
            <span>more than 10 minutes</span>
          </label>
        </p>
      </div>
    </div>
    <!-- submit button -->
    <div class="">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large light-blue darken-1 text-shaw">
          Add Challenge <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
