{% extends "base.html" %} {% block content %}

<h3 class="orange-text text-darken-4 center-align">Edit Challenge</h3>

<div class="row card-panel grey lighten-5">
  <form
    class="col s12"
    method="POST"
    action="{{ url_for('edit_challenge', challenge_id=challenge._id) }}"
  >
    <!-- challenge title-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix orange-text text-darken-4"></i>
        <input
          id="challenge_title"
          name="challenge_title"
          minlength="5"
          maxlength="50"
          value="{{ challenge.challenge_title }}"
          type="text"
          class="validate"
          required
        />
        <label for="challenge_title">Challenge Title</label>
      </div>
    </div>
    <!-- challenge description-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix orange-text text-darken-4"></i>
        <textarea
          id="challenge_description"
          name="challenge_description"
          minlength="5"
          maxlength="200"
          class="materialize-textarea"
          required
        >
{{- challenge.challenge_description -}}</textarea
        >
        <label for="challenge_description">Challenge Descripition</label>
      </div>
    </div>
    <!-- challenge time-->
    <div class="row">
      <div class="col s12">
        <i class="far fa-clock small prefix orange-text text-darken-4"></i>
        <label for="timetocomplete">Time to complete</label>
        {% for time in times %}
        <div>
          <label for="{{time}}">
            <input type="radio" id="{{time}}" name="timetocomplete"
            value="{{time}}" {% if time|string == checked.time|string
            %}checked{% endif %} />
            <span>{{ time }} minute(s)</span>
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
    <!-- submit and cancel button -->
    <div class="col s12 center-align">
      <a
        href="{{ url_for('get_challenges') }}"
        class="btn-small grey text-shadow"
      >
        Cancel <i class="fas fa-times-circle right"></i>
      </a>
      <button type="submit" class="btn-small orange darken-1 text-shadoww">
        Edit Challenge <i class="fas fa-plus-square right"></i>
      </button>
    </div>
  </form>
</div>

{% endblock %}
