{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Home</h3>
<div class="row card-panel grey lighten-5">
  <form action="{{ url_for('search') }} " method="post" class="form col s12">
    <div class="row valign-wrapper center-align">
      <div class="input-field col s12 m8">
        <i class="fas fa-search prefix light-blue-text text-darken"></i>
        <input
          type="text"
          name="query"
          minlength="3"
          id="query"
          class="validate"
          required
        />
        <label for="query">Search Challenges</label>
      </div>

      <div class="col s12 m8">
        <a
          href=" {{ url_for('home', id=Null) }} "
          class="red btn text-shadow"
          >Reset</a
        >
        <button type="submit" class="light-blue darken-1 btn text-shadow">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    </div>
  </form>
</div>

{% for active_challenge in challenges %}
<ul class="row">
  <div class="col s12 m4 t-grid">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title"
          ><strong>{{ active_challenge.challenge_title }}</strong></span
        >
        <p>{{ active_challenge.challenge_description }}</p>
      </div>
      <div class="card-action">
        <i class="timetocomplete-icon small material-icons white-text"
          >access_time</i
        >
        <label for="timetocomplete-icon" class="orange-text"
          >{{ active_challenge.time }} min</label
        >
        <a
          class="btn complete red far fa-stop-circle small prefix white-text tooltipped"
          data-position="top"
          data-tooltip="Complete challenge"
          href="{{ url_for('deactivated_challenge', challenge_id=active_challenge._id) }}"
        ></a>
      </div>
    </div>
  </div>

  {% endfor %} {% endblock %}
</ul>
